@font-face {
    font-family: 'Erstoria';
    src:
        url('../fonts/FacultyGlyphic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'JUST Sans';
    src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: VariableFont;
    font-style: normal;
    font-display: swap;
}